
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* min-height: 100vh; */
  width: 100vw;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body {
  font-family: 'Amazon Ember', sans-serif;
  font-family: 'Amazon Ember Cd RC', sans-serif;
  font-family: 'Amazon Ember Display', sans-serif;
  font-family: 'Amazon Ember Duospace', sans-serif;
  font-family: 'Amazon Ember Mono', sans-serif;
  font-family: 'Amazon Ember V2', sans-serif;
  color: #0F1111;
  /* min-height:100vh;
  display: flex; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}




#root {
  /* flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0;
  padding: 0; 
  width: 100vw;
  height: 100%; 
  overflow-x: hidden;
}
.App {
  width: 100vw;
  height: 100%;
  /* width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  min-inline-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* align-items: center; */
  overflow-x: hidden;
}
/* 
#131921
#232f3e 
*/

a:link    { 
  color:#0F1111;
  text-decoration: none; 
}
a:visited { color: #0F1111; }
a:hover   { color: #0F1111; }
a:focus   { outline: #0F1111; }
a:active  { color: #0F1111 ;}


header {
  background-color: #232f3e;
  color: #fff;
  /* padding: 20px; */
  text-align: left;
  height: auto;
  padding: 10px;
  position: relative;
}

header > h1 {
  
}

header > h1 > span {
  display: block;
}

.tf-title {
  color: #cccccc;
  font-size: 1rem; 
  font-weight: normal;
}

#tf-contactbuttonopen {
  position: absolute;
  top:10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius:3px;
  border: none;
}
#tf-contactbuttonopen:hover {
  cursor: pointer;
  /* outline: 1px solid white; */
}

#svgiconperson {
  display: block;
  width: 40px;
  height: auto;
  position: absolute;
  top: 7px;
  left: 7px;
  

}
#svgiconperson path {
  fill:white;
}
@keyframes contactBkgdFadeOut {
  0% {
    background-color: rgba(0,0,0,.6);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@keyframes contactBkgdFadeIn {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,.6);
  }
}
.tf-contact {
  position: absolute;
  top: 0;
  left: 100%;
  z-index:100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  /* animation: contactBkgdFadeOut .1s forwards; */
  transition: left .2s;
  display: none;
}
.tf-contact.tf-contactactive {
  /* background-color: rgba(0,0,0,.6); */
  display: block;
  animation: contactBkgdFadeIn .2s forwards;
  animation-delay: .2s;
  left: 0%;
}

#tf-contactbuttonclose {
  position: absolute;
  top:10px;
  left: 0;
  width: 25vw;
  height: 60px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight:normal;
  font-size: 50px;
  text-align: center;
}
#tf-contactbuttonclose:hover {
  cursor: pointer;
}
.tf-contactcontainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  background-color: white;
}
.tf-contactheader {
  background-color: #232f3e;
  height:125px;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tf-contactheader > h2 {
  font-size: 2rem;
  font-weight: 500;
}
.tf-contactbody {
  background-color: transparent;
 padding: 18px;
font-size: 1.125rem;
}
.tf-contactbody h3,.tf-contactbody p {
margin-bottom: 1.25rem;
}


nav {
  background-color: #232f3e;
  color: #fff;
  padding: 20px;
  text-align: left;
  height: 48px;
  padding: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}



nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > ul a:link    { 
  color:white;
  text-decoration: none;
  border-radius: 3px;
  margin:5px;
  padding: 5px;
}
nav > ul a:visited { color: white; }
nav > ul a:hover   { 
  color: white; 
  /* outline: 1px solid white; */
}
nav > ul a:focus   { 
  color: white;
}
nav > ul a:active  { color: white ;}



/* f6de5c */
/* d5dbdb */
main {
  /* height:100%; */
  min-height: 100vh;
  background-color: rgba(213,219,219,1);
}
.tf-homedelivering {
  height: 40px;
  background-color: #384859;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 41px;
  position: relative;
}
#svgiconmappointer {
  width:28px;
  height:auto;
  position: absolute;
  top:9px;
  left:17px;
}
#svgiconmappointer g path {
  fill:white;
}

.tf-mainwrapper {
  /* width: 100vw; */
  max-width: 1870px;
  height: 100%;
  margin: 0 auto;
  /* padding: 10px; */
}
/* home */
.tf-hero {
  height:300px;
  color:#242f3d;

}
.tf-herohome {
  background: linear-gradient(0deg, rgba(213,219,219,1) 0%, rgba(246,222,92,1) 20%, rgba(246,222,92,1) 30%);
}
.tf-heroinner {
  width: 100%;
  height: 300px;
  /* background-image: url('./assets/heroimghome.png');
  background-repeat: no-repeat;
  background-size: cover; */
}
.tf-heroinnerhome {
  background-image: url('./assets/heroimghome.png');
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: center 130px;
  position: relative;
}
.tf-herotext {
  position: absolute;
  top:20px;
  left:20px;
}
.tf-herotext h2 {
  font-size: 2rem;
}
.tf-herotext h3 {
  font-size: 1.33rem;
}

.tf-cardsscroller {
  width:100vw;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  height: 250px;
  transform: translateY(-54px);
  /* margin: 0; */
  -webkit-overflow-scrolling: touch;
}
.tf-cardsscroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.tf-cards {
  width:auto;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  gap: 10px;
  margin: 0 10px 0 10px;
  color:#242f3d;
}
.tf-card {
  background-color: white;
  border-radius: 3px;
  height: 250px;
  padding: 10px;
  position: relative;
}
.tf-card > a {
  display: inline-block;
  width: 100%;
  height: 100%;   
}
.tf-card h4 {
  font-weight: normal;
}
.tf-cardimgwrapper {
  width: 130px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  bottom:10px;
  left: 10px;
}
.tf-cards .tf-card:nth-of-type(1) img {
  width:200px;
  height:auto;
  transform: translate(-10%,-5%);
}
.tf-cards .tf-card:nth-of-type(2) img {
  width:500px;
  height:auto;
  transform: translate(-10px,-10px);
}
.tf-cards .tf-card:nth-of-type(3) img {
  width:600px;
  height:auto;
  transform: translate(-10%,-5%);
}
.tf-cards .tf-card:nth-of-type(4) img {
  width:180px;
  height:auto;
  transform: translate(-12%,-13%);
} 
.tf-cardaddtnl {
  display: none;
}
/* content screens */
.tf-mainwrapper h2 {
  font-size: 2rem; 
  padding-top: 20px;
  padding-left: 20px; 
}
.tf-mainwrapper > p {
  padding-left: 20px; 
}
.tf-mainwrapper .tf-herohome h2 {
  padding-top: 0;
  padding-left: 0; 
} 
.tf-contentblocks {
    display: flex;
    flex-direction: column;
}
.tf-contentblock {
    background: #fff;
  padding:20px;
  margin-top: 20px;
}
.tf-contentblock a:link, .tf-contentblock a:visited, .tf-contentblock a:hover, .tf-contentblock a:focus, .tf-contentblock a:active {
  color:#0e7184;
}
.tf-contentblock a:hover {
  color:#c55229;
  text-decoration: underline;
} 
.tf-contentblock h3, .tf-contentblock p {
  margin-bottom: .66em;  
}
.tf-contentblock ul {
  margin-left: 1em;
}

.tf-contentblockimages {
  margin-top: 2em;
}
.tf-contentblockimage {
  margin-bottom: 2em;
}
.tf-contentblockimage img {
  width: 100%;
  height: auto;
}
.tf-contentblockimage p {
  font-style: italic;
}



@media screen and (min-width: 768px) {
  
  header {
    background-color: #131921;
    height: 72px;
  }

  header > h1 > span {
    display: inline;
  }

  .tf-title {
    display: inline;
  }

  .tf-contactcontainer {
    width: 400px;
  }

  #tf-contactbuttonopen:hover {
    cursor: pointer;
    outline: 1px solid white;
  }

  #tf-contactbuttonclose {
    left: auto;
    right: 425px;
    width: 40px;
  }

  nav > ul {
    justify-content: flex-start;
  }

  nav > ul a:hover   { 
    outline: 1px solid white;
  }
  .tf-hero {
    height:800px;
  
  }
  .tf-heroinner {
    height:800px;
  }
  .tf-heroinnerhome {
    background-image: url('./assets/heroimghome.png');
    background-repeat: no-repeat;
    background-size: 900px auto;
    background-position: 100px 90px;
    position: relative;
  }
  .tf-herotext {
    position: absolute;
    top:20px;
    left:50px;
  }
  .tf-herotext h2 {
    font-size: 3.25rem;
  }
  .tf-herotext h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  .tf-cardsscroller {
    width:100%;
    overflow-x: hidden;
    height: 520px;
    margin: -484px 0 0 0;
  }
  .tf-cards {
    width:100%;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 25px;
    margin: 0 0 0 0;
    padding:0 25px 0 25px;
    
  }
  .tf-card {
    height: 250px;
    padding: 20px;
    padding-top: 60px;
    padding-left: 175px;
  }
  .tf-card h4 {
    font-weight: bold;
    font-size: 1.6rem;
  }
  .tf-cardimgwrapper {
    width: 130px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    bottom:auto;
    top: 20px;
    left: 20px;
    /* right: 20px; */
  }
  .tf-cards .tf-card:nth-of-type(1) img {
    width:200px;
    height:auto;
    transform: translate(-10%,-5%);
  }
  .tf-cards .tf-card:nth-of-type(2) img {
    width:500px;
    height:auto;
    transform: translate(-10px,-120px);
  }
  .tf-cards .tf-card:nth-of-type(3) img {
    width:600px;
    height:auto;
    transform: translate(-10%,-5%);
  }
  .tf-cards .tf-card:nth-of-type(4) img {
    width:180px;
    height:auto;
    transform: translate(-12%,-13%);
  } 
  .tf-cardaddtnl {
    display: block;
  }


  /* content screens */
.tf-mainwrapper h2 {
  font-size: 2rem; 
  padding-top: 20px;
  padding-left: 20px; 
}

.tf-mainwrapper .tf-herohome h2 {
  padding-top: 0;
  padding-left: 0; 
} 
.tf-contentblocks {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
}
.tf-contentblock {
    background: #fff;
  padding:20px;
  margin-top: 20px;
  margin-left: 20px;
  width:30%;
  /* max-width: 768px; */
  }

  

  
  .tf-contentblock.tf-contentblocksingleton {
    width:768px;
  }
.tf-contentblockimages {

}
.tf-contentblockimage {
  
}
.tf-contentblockimage img {
  width: 100%;
  height: auto;
}




}

@media screen and (min-width: 992px) {

  .tf-heroinnerhome {
   background-position: right 70px;
   
  }

  .tf-contentblocks {
    /* display: flex;
    flex-direction: row; */

  }
  .tf-contentblock {
    /* width: 50%; */

  }

}  

@media screen and (min-width: 1280px) {

  .tf-heroinnerhome {
    background-image: url('./assets/heroimghome.png');
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-position: right 10px;
    position: relative;
  }

  .tf-contentblock {
    width: 30%;

  }


}  

