
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

body {
  font-family: 'Amazon Ember', sans-serif;
  font-family: 'Amazon Ember Cd RC', sans-serif;
  font-family: 'Amazon Ember Display', sans-serif;
  font-family: 'Amazon Ember Duospace', sans-serif;
  font-family: 'Amazon Ember Mono', sans-serif;
  font-family: 'Amazon Ember V2', sans-serif;
  color: #0F1111;
}

#root {
  margin: 0;
  padding: 0; 
  height: 100%; 
}
.App {
  height: 100%;
}
/* 
#131921
#232f3e 
*/

a:link    { 
  color:#0F1111;
  text-decoration: none; 
}
a:visited { color: #0F1111; }
a:hover   { color: #0F1111; }
a:focus   { outline: #0F1111; }
a:active  { color: #0F1111 ;}


header {
  background-color: #232f3e;
  color: #fff;
  /* padding: 20px; */
  text-align: left;
  height: auto;
  padding: 10px;
  position: relative;
}

header > h1 {
  
}

header > h1 > span {
  display: block;
}

.tf-title {
  color: #cccccc;
  font-size: 1rem; 
  font-weight: normal;
}

#tf-contactbuttonopen {
  position: absolute;
  top:10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius:3px;
  border: none;
}
#tf-contactbuttonopen:hover {
  cursor: pointer;
  outline: 1px solid white;
}

#svgiconperson {
  display: block;
  width: 40px;
  height: auto;
  position: absolute;
  top: 7px;
  left: 7px;
  

}
#svgiconperson path {
  fill:white;
}
@keyframes contactBkgdFadeOut {
  0% {
    background-color: rgba(0,0,0,.6);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@keyframes contactBkgdFadeIn {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,.6);
  }
}
.tf-contact {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  /* animation: contactBkgdFadeOut .1s forwards; */
  transition: left .2s;
}
.tf-contact.tf-contactactive {
  /* background-color: rgba(0,0,0,.6); */
  animation: contactBkgdFadeIn .2s forwards;
  animation-delay: .2s;
  left: 0%;
}

#tf-contactbuttonclose {
  position: absolute;
  top:30px;
  left: 0;
  width: 25vw;
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight:normal;
  font-size: 50px;
  text-align: center;
}
#tf-contactbuttonclose:hover {
  cursor: pointer;
}
.tf-contactcontainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  background-color: white;
}
.tf-contactheader {
  background-color: #232f3e;
  height:125px;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tf-contactheader > h2 {
  font-size: 2rem;
  font-weight: 500;
}
.tf-contactbody {
  background-color: transparent;
 padding: 18px;
font-size: 1.125rem;
}
.tf-contactbody h3,.tf-contactbody p {
margin-bottom: 1.25rem;
}


nav {
  background-color: #232f3e;
  color: #fff;
  padding: 20px;
  text-align: left;
  height: 48px;
  padding: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}



nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > ul a:link    { 
  color:white;
  text-decoration: none;
  border-radius: 3px;
  margin:5px;
  padding: 5px;
}
nav > ul a:visited { color: white; }
nav > ul a:hover   { 
  color: white; 
  outline: 1px solid white;
}
nav > ul a:focus   { 
  color: white;
}
nav > ul a:active  { color: white ;}



/* f6de5c */
/* d5dbdb */
main {
  height:100%;
  background-color: rgba(213,219,219,1);
}
.tf-mainwrapper {
  max-width: 1870px;
  height: 100%;
  margin: 0 auto;
}
.tf-mainwrapperhome {
  background: linear-gradient(0deg, rgba(213,219,219,1) 0px, rgba(213,219,219,1) 150px, rgba(246,222,92,1) 160px, rgba(246,222,92,1) 200px);
}







@media screen and (min-width: 768px) {
  
  header {
    background-color: #131921;
    height: 72px;
  }

  header > h1 > span {
    display: inline;
  }

  .tf-title {
    display: inline;
  }

  .tf-contactcontainer {
    width: 400px;
  }

  #tf-contactbuttonclose {
    left: auto;
    right: 425px;
    width: 40px;
  }

  nav > ul {
    justify-content: flex-start;
  }



}
  
